/* variable */
:root {
  /* font-size */
  --font-size-micro: "0.875em";
  --font-size-small: "1em";
  --font-size-regular: "1.25em";
  --font-size-large: "2em";

  /* Icon-size */
  --icon-size-small: "0.875em";
  --icon-size-middle: "1.25em";
  --icon-size-large: "1.75em";
  --icon-size-big: "2.5em";

  /* padding */
  --padding-size-small: "0.5em";
  --padding-size-meddle: "1em";
  --padding-size-large: "1.5em";

  /* margin */
  --margin-size-small: "0.5em";
  --margin-size-meddle: "1em";
  --margin-size-large: "1.5em";

  /* border-radius */
  --border-radius: "6.25";
}
